html {
    height: 100vh;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background: whitesmoke;
}

/* Wrapper */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "navbar navbar"
    "text form"
    "footer footer";
    min-height: 100vh;
    gap: 5px;
}

/* style for navbar */
.header {
    grid-area: navbar;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 3;
}

.header a {
    color: #000;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.header ul a {
    display: block;
    padding: 20px;
    border-right: 1px solid #000;
    text-decoration: none;
}

.header ul a:hover {
    background-color: lightgrey;
}

.header .logo {
    float: left;
    display: block;
    text-decoration: none;
    font-size: 2em;
    padding: 10px 20px;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition:max-height .2s ease-out;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background: #000;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition:background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: #000;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}
.header .menu-icon .nav-icon:after {
    background: #000;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top:0
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}

/* style for side-content in main */
.text-main {
    grid-area: text;
    text-align: center;
    /*background-image: url(https://images.unsplash.com/photo-1518747993763-5c9d82d08a9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); */
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.animate {
    animation: 3s infinite alternate myanim;
}

@keyframes myanim {
    0% {
        scale: 1.0;
    }

    100% {
        scale: 1.2;
    }
}

img {
    max-width: 60%;
    height: auto;
}

/* Style for user registration  form */
.main-form {
    grid-area: form;
    text-align: center;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.title p {
    animation: 3s infinite alternate form-text;
}

@keyframes form-text {
    0% {
        color: black;
    }

    25% {
        color: green;
    }

    50% {
        color: blue;
    }

    75% {
        color: lightslategray;
    }

    100% {
        color: white;
    }
}

.title {
    text-align: center;
    color: black;
}

.input-container {
    display: flex;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    background: orangered;
    color: black;
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}
  
.input-field:focus {
    border: 2px solid orangered;
}

.btn {
    background-color: orangered;
    color: black;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
.btn:hover {
    opacity: 1;
}

/* Footer */
.footer {
    grid-area: footer;
    text-align: center;
    color: black;
    padding: 3px;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);    
}

/* Responsive navbar for mobile*/
@media only screen and (max-width: 650px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "navbar"
        "text"
        "form"
        "footer";
    }
}
/* hide hamburger-meny over 650px*/
@media only screen and (min-width: 650px){

    .header li {
        float: left;
    }
    .header li a {
        padding:20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        text-decoration: none;
        display: none;
    }
}

/*Responsive for laptops/desktops*/
@media only screen and (min-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "navbar navbar"
        "text form"
        "footer footer";
        min-height: 100vh;
        gap: 5px;
        padding: 10px;
    }
}