html {
    height: 100vh;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background: whitesmoke;
}

/* Wrapper */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "navbar navbar"
    "text form"
    "footer footer";
    min-height: 100vh;
    gap: 5px;
    padding: 10px;
}

/* style for navbar */
.navbar {
    grid-area: navbar;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.logo {
    display: block;
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgray;
}

/* style for side-content in main */
.text-main {
    grid-area: text;
    text-align: center;
    /*background-image: url(https://images.unsplash.com/photo-1518747993763-5c9d82d08a9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); */
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.animate {
    animation: 3s infinite alternate myanim;
}

@keyframes myanim {
    0% {
        scale: 1.0;
    }

    100% {
        scale: 1.5;
    }
}

img {
    max-width: 60%;
    height: auto;
}

/* Style for user registration  form */
.main-form {
    grid-area: form;
    text-align: center;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.title p {
    animation: 3s infinite alternate form-text;
}

@keyframes form-text {
    0% {
        color: black;
    }

    25% {
        color: green;
    }

    50% {
        color: blue;
    }

    75% {
        color: lightslategray;
    }

    100% {
        color: white;
    }
}

.title {
    text-align: center;
    color: black;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    background: orangered;
    color: black;
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}
  
.input-field:focus {
    border: 2px solid orangered;
}

.btn {
    background-color: orangered;
    color: black;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
.btn:hover {
    opacity: 1;
}

/* Footer */
.footer {
    grid-area: footer;
    text-align: center;
    color: black;
    padding: 3px;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);    
}

/* Responsive for mobile */
@media only screen and (max-width: 860px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "navbar"
        "text"
        "form"
        "footer";
    }
}
/* Responsive for laptops/desktops */
@media only screen and (min-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "navbar navbar"
        "text form"
        "footer footer";
        min-height: 100vh;
        gap: 5px;
        padding: 10px;
    }
}